@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 /* color: #ffffff; */
 /* background-color: #0D0D0DF2; */
 ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-section{
  background-image: url('/menuList1.png');
  width: 100%;
  height: 50vh;
  background-position: right;
}

.bg-food {
  background-image: url('/foodItems.png');
  background-size: cover; /* Ensure the background covers the container */
  background-position: center; /* Center the background */
  position: relative;
  color: #ffffff;
}

.bg-food::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1; /* Below content but above the background */
}

.bg-food > * {
  position: relative; /* Bring content above the overlay */
  z-index: 2;
}

